/* Reseteo básico de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #002c49;
    display: flex;
    justify-content: center;
}

/* Estilo para el logo */
.logo-container {
    margin-top: -30px;
    text-align: center;
    margin-bottom: 10px; /* Espacio entre el logo y el formulario */
    width: 100%;
}

.logo-container img {
    width: 150px; /* Ajusta el tamaño del logo */
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.nav .nav-item button.active {
    background-color: transparent;
    color: #f5a842 !important;
}

.nav .nav-item button.active::after {
    content: "";
    border-bottom: 4px solid #f5a842;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 5px 5px 0 0;
}


/* Quiero que el ancho del contenido  contenido de las tabs sea el mismo para todas */

/* Asegúrate de que el datepicker se muestre encima de otros elementos */
.datepicker {
    position: absolute;
    top: 50px;  /* Ajusta según sea necesario */
    left: 0;
}
