/* Reseteo básico de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #002c49;
    display: flex;
    justify-content: center;
}

/* Estilo para el logo */
.logo-container {
    margin-top: -30px;
    text-align: center;
    margin-bottom: 10px; /* Espacio entre el logo y el formulario */
    width: 100%;
}

.logo-container img {
    width: 150px; /* Ajusta el tamaño del logo */
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.nav .nav-item button.active {
    background-color: transparent;
    color: #f5a842 !important;
}

.nav .nav-item button.active::after {
    content: "";
    border-bottom: 4px solid #f5a842;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 5px 5px 0 0;
}

/* Asegúrate de que el datepicker se muestre encima de otros elementos */
.datepicker {
    z-index: 1050 !important; /* Asegurar que está por encima de otros elementos */
}


/* Estilo para las cards de correr */
.card-body {
    background-color: #002c49;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

/* Ajusta el tamaño de la tabla en pantallas pequeñas */
@media (max-width: 768px) {
    .table th, .table td {
        font-size: 12px; /* Reduce el tamaño del texto */
        padding: 5px; /* Reduce el padding */
    }

    .table th {
        font-weight: bold;
    }
}


/* Estilo para el spinner personalizado */

.lds-dual-ring {
    /* change color here */
    color: #f5a842;  
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 9999; 
    font-size: 3rem;
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

/* Animación del spinner */
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Indicador de carga centrado */
#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  font-size: 3rem; /* Tamaño mayor */
}



/* Estilo para el spinner personalizado */
.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

/* Animación del spinner */
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Indicador de carga centrado */
#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  font-size: 3rem; /* Tamaño mayor */
}

/* Fondo borroso cuando se está cargando */
#pills-personales.loading {
  filter: blur(5px); /* Aplica el efecto de desenfoque */
  pointer-events: none; /* Desactiva la interacción con el fondo */
}
