/* Reseteo básico de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #002c49;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

/* Estilo para el logo */
.logo-container {
    margin-top: 0px;
}

.logo {
    width: 300px;  /* Ajusta el tamaño del logo como desees */
    height: auto;
}

/* Estilo para el formulario */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iniciar {
    color: white;
    font-size: 34px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    width: 250px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 250px;
    padding: 10px;
    margin: 10px;
    background-color: #f7b35a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f5a842;
}

/* En dispositivos moviles, la clase de .social va a hacer que los botones esten en linea */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: flex-start; /* Alinea el navbar a la izquierda */
        align-items: center; /* Asegura alineación vertical */
        padding: 10px;
        flex-wrap: nowrap; /* Evita que los botones se apilen */
        width: 100%; /* Asegura que ocupe todo el ancho */
        gap: 100px; /* Espacio entre los botones */
        margin-top: -20%;
        padding-bottom: 20%;
    }

    .navbar button {
        flex: 1; /* Hace que los botones ocupen el mismo espacio */
        max-width: 50%; /* Limita el ancho */
        white-space: nowrap; /* Evita que el texto se divida */
    }

    /* Espaciado correcto entre los botones */
    #socialBtn {
        margin-right: auto; /* Empuja el botón de Social a la izquierda */
    }

    #perfilBtn {
        margin-left: auto; /* Empuja el botón de Perfil a la derecha */
    }
}
