<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediciones</title>

    <!-- Vinculamos el archivo de JavaScript externo -->
    <script type="module" src="../js/introducir.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS y Popper.js (necesarios para los componentes interactivos) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="../css/introducir-checkbox.css">
    <link rel="stylesheet" href="../css/introducir.css">

    <!-- Favicon -->
    <link rel="icon" href="../resources/yergm.jpg" type="image/jpg">
    
</head>
<body class="container d-flex justify-content-center align-items-center vh-100">

    <!-- Logo centrado en la parte superior -->
    <div class="logo-container">
        <img id="logo" src="../resources/yergm.jpg" alt="Logo">
    </div>

    <!-- Contenedor con color y bordes redondeados -->
    <div class="container-custom">
        <div class="text-center">
            <h3 class="mb-4">Mediciones</h3>

            <!-- Formulario de mediciones -->
            <form id="formMedicion">
                <div class="mb-1">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="date" id="fecha" class="form-control" required>
                </div>

                <fieldset class="checkbox-group">
                    <div class="checkbox">
                        <label class="checkbox-wrapper">
                            <input type="checkbox" id="gimnasio" class="checkbox-input" />
                            <span class="checkbox-tile fondo-azul">
                                <span class="checkbox-icon">
                                    <!-- Img -->
                                     <img src="../resources/pesa.png" width="80px" height="70px" alt="Gimnasio" class="checkbox-icon">
                                </span>
                                <span class="checkbox-label">Gimnasio</span>
                            </span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="checkbox-wrapper">
                            <input type="checkbox" id="batido" class="checkbox-input" />
                            <span class="checkbox-tile fondo-azul">
                                <span class="checkbox-icon">
                                    <!-- Img -->
                                    <img src="../resources/batido-de-proteinas.png" width="70px" height="60px" style="margin-bottom: 10px;" alt="Batido" class="checkbox-icon">
                                </span>
                                <span class="checkbox-label">Batido</span>
                            </span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="checkbox-wrapper">
                            <input type="checkbox" id="descanso" class="checkbox-input" />
                            <span class="checkbox-tile fondo-azul">
                                <span class="checkbox-icon">
                                    <!-- Img -->
                                    <img src="../resources/dormido.png" width="80px" height="70px" alt="Descanso" class="checkbox-icon">
                                </span>
                                <span class="checkbox-label">Descanso</span>
                            </span>
                        </label>
                    </div>
                </fieldset>

                <button type="submit" class="btn-custom">Guardar Medición</button>
                
            </form>

            <!-- Modal para seleccionar el tipo de entrenamiento -->
            <div class="modal fade" id="modalEntrenamiento" tabindex="-1" aria-labelledby="modalEntrenamientoLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalEntrenamientoLabel">Selecciona el tipo de entrenamiento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="cerrarModal"></button>
                    </div>
                    <div class="modal-body">
                    <!-- Checkbox de tipos de entrenamiento -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Pecho" id="entrenamientoPecho">
                        <label class="form-check-label" for="entrenamientoPecho">Pecho</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Hombro" id="entrenamientoHombro">
                        <label class="form-check-label" for="entrenamientoHombro">Hombro</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Tríceps" id="entrenamientoTriceps">
                        <label class="form-check-label" for="entrenamientoTriceps">Triceps</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Espalda" id="entrenamientoEspalda">
                        <label class="form-check-label" for="entrenamientoEspalda">Espalda</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Biceps" id="entrenamientoBiceps">
                        <label class="form-check-label" for="entrenamientoBiceps">Biceps</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Pierna" id="entrenamientoPierna">
                        <label class="form-check-label" for="entrenamientoPierna">Pierna</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Cardio" id="entrenamientoCardio">
                        <label class="form-check-label" for="entrenamientoCardio">Cardio</label>
                    </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="guardarEntrenamiento">Guardar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="cerrarEntrenamiento">Eliminar</button>
                    </div>
                </div>
                </div>
            </div>


            <!-- Modal para Registrar Horas de Sueño -->
            <div class="modal fade" id="modalDescanso" tabindex="-1" aria-labelledby="modalDescansoLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalDescansoLabel">Registrar Horas de Sueño</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <label for="sliderHorasSueño">Horas de Sueño:</label>
                    <input type="range" class="form-range" id="sliderHorasSueño" min="0" max="12" step="0.5" value="8">
                    <p>Horas seleccionadas: <span id="horasSeleccionadas">8</span> horas</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="guardarHorasDescanso">Guardar</button>   
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="cerrarDescanso">Cancelar</button>
                    </div>
                </div>
                </div>
            </div>
            
        </div>
    </div>

</body>
</html>
